*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face{
	font-family:"underwood_champion";
	src:url(../fonts/underwood_champion.ttf);
}

@font-face{
	font-family:"ArchitectsDaughter";
	src:url(../fonts/ArchitectsDaughter.ttf);
}

body{
	background:;
	font-family: "underwood_champion", monospace;
	font-weight: bold;
	font-size: 1.1em;
	background-color:#697159;
	color: black;
}

.container{
	width: 80%;
	max-width: 1000px;
	margin: 2em auto;
	background-image: url(../imagenes/3545129509.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	padding: 1em;
	border: 2px solid #333;
	border-radius: 20px;
	box-shadow: 12px 12px 12px #333;

}

h1, h2{
	font-family: "ArchitectsDaughter", monospace;
	text-align: center;
	color: #800000;
	font-variant: small-caps;
	font-size: 180%;
	font-weight: bolder;
}

h1{
	margin-bottom: 1em;
}

.lateral{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

	.lateral li{
		padding: .5em 0;
		margin-left: 1em;
	}

.central{
	width: 74%;
	display: inline-block;
	vertical-align: top;
}

.columnas ul{
	list-style: none;
}

	.columnas li{
		width: 31%;
		display: inline-block;
		vertical-align: top;
		text-indent: 1em;
		padding: .5em;
	}

.general{
	text-indent: 2em;
	padding:.5em;
	text-align: justify;
	
}

@media print{
	body{
		background: none;
	}
	.container{
		width: 90%;
		background: none;
		border: none;
	}
	
	h1, h2{
		color: #333;
	}
	
	.lateral{
	width: 100%;
	margin-left: 1em;
	}
	
	.central{
	width: 100%;
	}
	.columnas li{
		width: 100%;
	}
}

@media (max-width: 770px){
	.container{
		width: 90%;
	}
	.lateral{
	width: 100%;
	}
	
	.central{
	width: 100%;
	}
	
	.columnas li{
		width: 45%;
	}
}

@media (max-width: 470px){
	.container{
		width: 90%;
	}
	.lateral{
	width: 100%;
	margin-left: 1em;
	}
	
	.central{
	width: 100%;
	}
	.columnas li{
		width: 100%;
	}
}

